@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins/mixins';

.contactsBlock {
  background-color: $darkBackgroundColor;

  .contactsContainer {
    flex-direction: column;
    align-items: center;
    padding: 15px;

    .inputBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      color: $brightTextColor;

      & input, & textarea {
        @include text(('Poppins', cursive), 15px, $blackBackgroundColor);
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        width: 70%;
      }
      @media screen and (max-width: 400px) {
        width: 80%;
      }

      .button {
        padding: 15px;
      }
      .err{
        border: red 3px solid ;
        padding: 5px;
        color: brown;
      }
    }
  }
}







