@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins/mixins';

.contactsBlock {
  background-color: $darkBackgroundColor;

  .contactsContainer {
    flex-direction: column;
    align-items: center;

    .inputBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;

      & input, & textarea {
        @include text(('Poppins', cursive), 15px, $blackBackgroundColor);
        width: 100%;
      }

      @media screen and (max-width: 800px) {
        width: 40%;
      }
    }
  }
}







