.contactsBlock {
    height: 50vh;
    background-color: #28fdfd;
}

.contactsContainer {
    flex-direction: column;
    align-items: center;
    background-color: #382b1b;
}

.inputBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #31b98b;
}

