@import "../styles/sass/variables";
@import '../../common/styles/sass/mixins/mixins';

.title {
  display: flex;
  justify-content: center;
  margin: 0 0 30px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: 5px;
  position: relative;
  @include text(('Poppins', cursive), 35px, $selectedTextColor);

  h2 {
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    background: $selectedTextColor;
    width: 100px;
    height: 1px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}





