@import "../styles/sass/variables";
@import "../styles/sass/mixins/mixins";

.button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: $selectedTextColor;
    background-color:$selectedTextColor ;
    position: relative;
    z-index: 1;
    @include text(('Poppins', cursive), 10px, $brightTextColor);
}