@import "../styles/sass/variables";
@import "../styles/sass/mixins/mixins";

.button {
/*    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: $selectedTextColor;
    background-color:$selectedTextColor ;
    position: relative;
    z-index: 1;
    @include text(('Poppins', cursive), 10px, $brightTextColor);*/
  border:none;
  @include text(('Poppins', cursive), 15px, $brightTextColor);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 20px;
  max-width: 160px;
  width: 100%;
  color: $brightTextColor;
  background-color: unset;
  outline: none;
  position: relative;
  z-index: 0;
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color:$selectedTextColor ;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }
  &:hover{
    text-decoration: none;
    color: $brightTextColor;
    &::after{
      width: 100%;
      height: 110%;
      transition: all 0.3s ease-in-out 0s;
    }
  }
  a{
    color: $brightTextColor;
    text-decoration:none;
  }
}