@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins/mixins';

.remoteBlock {
  background-color: $lightBackgroundColor;

  .remoteContainer {
    flex-direction: column;
    align-items: center;
    background-color: $lightBackgroundColor;
  }

}



