@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins/mixins';

.remoteBlock {
  background-color: $lightBackgroundColor;

  .remoteContainer {
    flex-direction: column;
    align-items: center;
    background-color: $lightBackgroundColor;
    padding: 15px;
    @include text(('Poppins', cursive), 15px, $brightTextColor);
    .button{
      padding: 15px;
    }
  }

}



