@import "../styles/sass/variables";
.inputBlock{
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.componentInput{
  @include text(('Poppins', cursive), 15px, $blackBackgroundColor);
  width: 100%;
}