@import '../common/styles/sass/variables';

.projectsBlock {
  //background-color: $lightBackgroundColor;
  background-color: $lightBackgroundColor;
  min-height: 75vh;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    .title {
      margin-top: 10vh;
    }

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}



