@import "../common/styles/sass/variables";

.skillsBlock {
  background-color: $darkBackgroundColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    background-color: $darkBackgroundColor;


    .skills {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}



