.skillsBlock {
    /*min-height: 100vh;*/
    background-color: #28fdfd;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    background-color: bisque;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}