@import '../common/styles/sass/variables';


.mainBlock {
  height: 100vh;
  background-color: $darkBackgroundColor;

  .mainContainer {
    align-items: center;
    justify-content: space-around;

    .greetings {
      background-color: #c9d8e5;
      @media screen and(max-width: 620px) {
        width: auto;
      }
      @media screen and(max-width: 210px) {
        word-wrap: break-word;
        width: 30%;
      }

      span {
        color: $selectedTextColor;
        font-family: 'Grechen Fuemen', cursive;

      }

      h1 {
        font-size: 35px;
        color: $brightTextColor;
        width: 100%;

      }
    }

    .photo {
  /*    background-image: url('../common/pictures/uupoT-rlqWM.jpg');
      background-size: cover;
      border-radius: 10px;
      min-width: 430px;
      min-height: 50%;
      background-color: #c9d8e5;
      @media screen and (min-width: 540px){
      }*/
      width: 30%;
      height: 50%;
      img{
        background-size: cover;
        border-radius: 10px;
        min-width: 30%;
        min-height: 50%;
      }

      background-color: #c9d8e5;
      @media screen and (min-width: 540px){
      }
    }
  }
}
