@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins/mixins';


.mainBlock {
  min-height: 100vh;
  background-color: $darkBackgroundColor;

  .mainContainer {
    align-items: center;
    justify-content: space-evenly;
    padding: 20vh 40px;


    .greetings {
      min-width: 270px;
      min-height: 200px;

      @media screen and(max-width: 620px) {
        width: auto;
      }
      @media screen and(max-width: 210px) {
        word-wrap: break-word;
        width: 30%;
      }

      h1 {
        @include text(('Grechen Fuemen', cursive), 45px, $selectedTextColor);
      }

      span {
        @include text(('Poppins', cursive), 25px, $brightTextColor);
      }

      p {
        @include text(('Poppins', cursive), 15px, $brightTextColor);
      }
    }

    .photo {
      background-size: cover;
      width: 280px;
      z-index: 2;
      position: relative;
      transition: 0.5s;
      @media screen and(max-width: 500px) {
        max-width: 100%;
      }

      img {
        @media screen and(max-width: 500px) {
          max-width: 130%;
        }
      }

      &:hover {
        transform: scale(1.2, 1.2)
      }

      &:before {
        content: "";
        position: absolute;
        height: 107%;
        width: 125%;
        border: 7px solid #5e9e9f;
        left: 25px;
        top: -25px;
        z-index: -1;
        @media screen and(max-width: 500px) {
          max-width: 110%;
        }
      }
    }
  }


  .particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: 0;
  }
}
