.mainBlock{
    height: 100vh;
    background-color: #f8b15d;
}
.mainContainer{
    align-items: center;
    justify-content: space-around;
}
.greetings{
    width: 300px;
    background-color: #c9d8e5;
}
.photo{
    width: 300px;
    height: 400px;
    background-color: #c9d8e5;
}