@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins/mixins';


.mainBlock {
  min-height: 100vh;
  background-color: $darkBackgroundColor;

  .mainContainer {
    align-items: center;
    justify-content: space-evenly;
    padding: 20vh 40px;

    .greetings {
      background-color: $darkBackgroundColor;
      @media screen and(max-width: 620px) {
        width: auto;
      }
      @media screen and(max-width: 210px) {
        word-wrap: break-word;
        width: 30%;
      }

      span {
        @include text(('Grechen Fuemen', cursive), 35px, $selectedTextColor);
      }

      h1 {
        @include text(('Poppins', cursive), 35px, $brightTextColor);
        width: 100%;
      }

      p {
        @include text(('Poppins', cursive), 15px, $brightTextColor);
      }
    }

    .photo {
      background-size: cover;
      border-radius: 10px;
      width: 380px;

      img {
        background-color: #c9d8e5;
        border-radius: 10px;
        width: 100%;
      }
    }
  }
}
