$selectedTextColor:#5e9e9f;
$brightTextColor:#f4feed;
$dullTextColor:#a7afbd;
$darkBackgroundColor:#303134;
$lightBackgroundColor:#767676;
$blackBackgroundColor:#000;
$blockDarkBackgroundColor:#323131;