.footerBlock {
    background-color: #28fdfd;
}

.footerContainer {

    display: flex;
    background-color: #e79c44;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.boxBlock {
    min-width: 15%;
    display: flex;
    justify-content: space-between;
    background-color: #a16e39;
    flex-wrap: wrap;
}

.box {
    height: 25%;
    width: 12.5%;
    background-color: #31b98b;
}

.rights {
    display: flex;
    justify-content: center
}



