@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins/mixins';

.footerBlock {
  background-color: $blackBackgroundColor;

  .footerContainer {
    display: flex;
    background-color: $blackBackgroundColor;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    .boxBlock {
      min-width: 10%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .rights {
      display: flex;
      justify-content: center;
      @include text(('Poppins', cursive), 15px, $brightTextColor)
    }
  }
}












